# CLion и JetBrains
.idea/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
CTestTestfile.cmake
Makefile
cmake_install.cmake

# Бинарные файлы и объектные файлы
*.o
*.obj
*.so
*.a
*.lib
*.la
*.lo
*.out
*.exe
*.dll
*.dylib

# Сборочные директории (если вручную создавались)
build/
bin/
lib/

# Логи и временные файлы
*.log
*.swp
*.tmp
*.bak
*.pid
*.seed

# Файлы сборки Make и Ninja
compile_commands.json
CMakeUserPresets.json

# Файлы gdb/lldb
*.gch
*.pch
*.gcda
*.gcno
*.gcov
*.lldb
*.dSYM/
*.profraw

.env
